<!-- <div class="commonChrome">
  <p-menubar [model]="menuItems">
  <ng-template pTemplate="start">
    <div class="brandArea">
      <div class="topImage">
        <img src="../../assets/images/hpp-logo2.svg" height="65" class="p-mr-2" alt="brand logo">
      </div>
      <div class="topFirstName">
        {{firstName}}
      </div>
      <div class="topLastName">
        {{lastName}}
      </div>
    </div>
  </ng-template>
  </p-menubar>
</div> -->

<div class="common-chrome">
  <div class="branding">
    <div class="brand-logo">
      <img src="../../assets/images/hpp-logo2.svg">
    </div>
    <div class="brand-name">
      <div class="first-name">Pranaav</div>
      <div class="last-name">H P</div>
    </div>
  </div>
  <div class="menu-optins">
    <div class="about-me">

    </div>
    <div class="resume">

    </div>
    <div class="projects">

    </div>
    <div class="blog">

    </div>
    <div class="contact">

    </div>
  </div>
</div>